{% extends 'template.base.twig' %}


{% block body %}
    <img src="{{ asset('asset/images/') ~ path | defaultImage }}" alt="">

<p></p>

    {% include 'fragments/date-jour.html.twig' %}
    <table class="table">

        <tr class="table-active">
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Age</td>
        </tr>

        {% for users in tableau %}
            <tr class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}">
                <td>{{ users.firstname }}</td>
                <td>{{ users.lastname }}</td>
                <td>{{ users.age }}</td>
            </tr>
        {% else %}
            <div class="alert-danger">
                Les donnees sont vides
            </div>
        {% endfor %}

    </table>
{% endblock %}


{% block Title %}
    Users
{% endblock %}

{% block PageTitle %}
    Users
{% endblock %}