{% extends 'template.base.twig' %}


{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        {{ form_rest(form) }}
    </div>

{% endblock %}


{% block title %}
    Manipulation de la classe Doctrine
{% endblock %}

{% block javascript %}
    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}